h1{

    font-size: 30px;
    
    text-align: center;
    
    color: #de7089
    
    }
    
    
    p{
    
    font-size: 15px;
    
    text-align: center;
    
    font-family: Helvetica, sans-serif;
    
    }
    
    
    body {
    
    background-color: #007898;
    
    }